<% unless  !comment.persisted? %>
  <div class="card">
    <div class="card-body">
      <%= comment.body %>
      <%= link_to 'reply', new_post_comment_path(@post, parent_id: comment.id), remote: true, class: 'd-block' %>
    </div>
  </div>
  <% if comment.replies.any? %>
    <% comment.replies.each do |reply| %>
      <%= render partial: 'comments/reply', locals: { reply: reply } %>
    <% end %>
  <% end %>
  <div id="reply-form-<%= comment.id %>"></div>
<% end %>