<p id="notice"><%= notice %></p>

<h1>List of Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Likes</th>
      <th>User</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title,post_path(post.id)%></td>
    <td><%= post.upvotes %></td>
    <td><%= post.user %></td>
    <td><%= post.comments.count %></td>
  </tr>
<% end %>
</tbody>
</table>

<br>
