<div class="card my-5">
  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <h2 class="text-small"><%= @post.title %>(<%=link_to@post.url,post_path%>) </h2>
    <h2 class="text-align-left">Likes :<%= @post.upvotes %></h2>
    <h2 class="text-centre">Comments :<%= @post.comments.count %></h2>
    <div class="my-4">
      <%= simple_format(@post.description) %>
    </div>

    <%= link_to 'Back', posts_path, class: 'btn btn-light' %>
  </div>
</div>
<div class="card my-1">
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= form_with(model: [@post, @post.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render @post.comments %>